# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dylib

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
moc_*.h
qrc_*.cpp
ui_*.h
Makefile*
*build-*

# QtCreator

*.autosave

# QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*

# QtCtreator CMake
CMakeLists.txt.user*

*.sln
*.cbt
*.opendb
*.obj
*.exe
*.ilk
*.pdb
*.tlog
*.log
*.msgstore
*.qm
Build/Release
Build/Debug
ServiceChat/ServiceChat.VC.db
ServiceChat/ServiceChat.vcxproj
ServiceChat/ServiceChat.vcxproj.filters
ServiceChat/ServiceChat.vcxproj.user
ServiceChat/.qmake.stash
ServiceChat/.vs/
ServiceChat/TimPath
ServiceChat/debug
ServiceChat/release
ServiceChat/ipch
ServiceChat/Win32
ServiceChat/stdafx.h.cpp
*.lnk
Build/windeployqt.bat
Build/windeployqt.bat
